@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 22px;
    }
    .navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        border-bottom: 2px solid #fdc172;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
    .perspective-phone {
        margin-top: -150px;
    }
}



@media (max-width:992px) {
    .card-deck {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-deck .card {
        margin-bottom: 15px;
    }
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px;
    }
    .tab-content {
        padding: 1.5rem;
    }
}



@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
    h1 {
        font-size: 23px;
        font-weight: 300;
        letter-spacing: -1px;
        font-family: 'Open Sans', sans-serif;
    }
    .banner-img-wrapper img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .logo-wrapper {
        height: auto;
        width: 140px;
    }
    .tagline {
        font-size: 17px;
    }
    .ml15 {
        font-weight: 800;
        font-size: 1.8em;
        text-transform: uppercase;
        letter-spacing: 0.5em;
      }
    .img-holder {
        padding-bottom: 0%;
        height: auto;
    }
  .ml1 {
    font-weight: 900;
    font-size: 40px;
  }
  .bg-gradient {
    background-color: #000;
    height: auto;
  }

  .ml16 {
    color: #000;
    padding: 20px 0;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    overflow: hidden;
  }

  .text-animation {
    font-size: 30px;
    font-weight: 300;
    color: #fdd302;
    letter-spacing: -1px;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
}

@media (max-width:320px){
    .ml1 {
        font-weight: 900;
        font-size: 30px;
      }
      .ml16 {
        color: #000;
        padding: 20px 0;
        font-weight: 800;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        overflow: hidden;
      }
}
